/*###################################
Random stuff - mainly weird selectors*/

/*Image - move to img-overrides/overrides*/

/*.searchIcon {
    height: 0 !important;
    width: 0 !important;
    padding-left: 32px;
    padding-top: 32px;
    background-image: url("https://raw.githubusercontent.com/Zero5G/EdookitDarkTheme/231a62fb2b53b9343da749b326dfe397261181f1/img-overrides/assignment.svg") !important;
    background-repeat: no-repeat !important;
    background-color: var(--tertiary-bg-color) !important;
}
/*Font*/
span[style="color: #ea8400;"] {
    color: var(--secondary-highlight-color) !important;
}
div.normalTextPrint[style*="color:#f29526"] {
    color: var(--secondary-highlight-color) !important;
}
/*Border*/
a[style*="border: 1px solid rgb(234, 132, 0);"] {
    border: 1px solid var(--secondary-highlight-color) !important;
}
a[style*="border: 1px solid #ea8400;"] {
    border: 1px solid var(--secondary-highlight-color) !important;
}
/*Random lines*/
.hideInPrint[style*="background-color:#f29526;"] {
    background-color: var(--secondary-highlight-color) !important;
}
/*Year switcher*/
div#term-selected g.expand {
    fill: var(--secondary-text-color) !important;
}
.year-switcher-container #term-selected:hover .expand {
    fill: var(--secondary-text-color) !important;
}
div#term-selected svg:hover {
    border-radius: 3px !important;
    transform: scale(1.3) !important;
    transition-duration: 0.2s !important;
}
/*Help*/
.tutorial-icon svg.guide {
    opacity: 100% !important;
}
.tutorial-icon svg.guide:hover {
    transform: scale(1.3) !important;
    transition-duration: 0.2s !important;
}
.tutorial-icon svg.guide polyline.cls-1 {
    stroke: var(--primary-text-color) !important;
}
.tutorial-icon svg.guide path.cls-1 {
    stroke: var(--primary-text-color) !important;
}
.tutorial-icon svg.guide circle.cls-2 {
    fill: var(--primary-text-color) !important;
}
.tutorial-icon svg.guide circle.cls-1 {
    stroke: var(--primary-text-color) !important;
}
.tutorial-icon:hover svg.guide polyline.cls-1 {
    stroke: var(--secondary-text-color) !important;
}
.tutorial-icon:hover svg.guide path.cls-1 {
    stroke: var(--secondary-text-color) !important;
}
.tutorial-icon:hover svg.guide circle.cls-2 {
    fill: var(--secondary-text-color) !important;
}
.tutorial-icon:hover svg.guide circle.cls-1 {
    stroke: var(--secondary-text-color) !important;
}
/*
1,1,1
0,1,2
*/
/*Search*/
.searchIcon path {
    fill: white !important;
}
.searchBar input {
    background-color: var(--secondary-bg-color) !important;
    color: #cccccc !important;
}
/*Weird backgrounds*/
.type {
    background-color: var(--tertiary-bg-color) !important;
}
a[style*="background-color: rgb(238, 218, 249);"] {
    background-color: #094074 !important;
}
a[style*="background-color: #eedaf9;"] {
    background-color: #094074 !important;
}
div.row b {
    color: var(--secondary-text-color) !important;
}
/*New evaluation*/
.new .evaluation-widget-container .evaluations .list .item .course.unread {
    color: var(--secondary-highlight-color) !important;
}
.new .evaluation-widget-container .evaluations .list .item .date.unread {
    color: var(--secondary-highlight-color) !important;
}
.new .evaluation-widget-container .evaluations .list .item .mark .unread .bubble {
    background-color: var(--secondary-highlight-color) !important;
}
/*Unread*/
.new .inbox-filters-container .filters-row .filters-cell.type-container .unread {
    color: var(--secondary-highlight-color) !important;
}
.new .grid-container .item .unread {
    background-color: var(--secondary-highlight-color) !important;
}
/*.new-message {
    background-color: var(--tertiary-bg-color) !important;
}
/*Box shadow*/
#menu-scroll-container .year-switcher-container #term-selector {
    box-shadow: 0 10px 12px 0 rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 12px 0 rgb(0 0 0 / 30%);
}
/*Hover*/
input[name="finish"] {
    background-color: var(--tertiary-bg-color) !important;
    color: var(--secondary-text-color) !important;
}
input[name="finish"]:hover {
    box-shadow: 0px 0px 0px #000000;
}
/*###################################
Font color*/
/*#333333*/
.new {
    color: var(--primary-text-color) !important;
}
.link-text {
    color: var(--secondary-text-color) !important;
}
.new .box-heading {
    color: var(--primary-text-color) !important;
}
.new .widget .box .grid .item-container .item {
    color: var(--primary-text-color) !important;
}
.organization-name-text {
    color: var(--primary-text-color) !important;
}
.name {
    color: var(--primary-text-color) !important;
}
.item {
    color: var(--primary-text-color) !important;
}
.box-heading.clickable {
    color: var(--secondary-text-color) !important;
}
.box-heading {
    color: var(--secondary-text-color) !important;
}
.mfp-inner-content {
    color: var(--primary-text-color) !important;
}
.object-name {
    color: var(--primary-text-color) !important;
}
#menu-scroll-container .year-switcher-container #term-selector > div a{
    color: var(--primary-text-color) !important;
}
.new a.simply-highlighted, .new .link-simulation.simply-highlighted,
.new a.simply-highlighted:visited, .new .link-simulation.simply-highlighted:visited,
.new a.simply-highlighted:active, .new .link-simulation.simply-highlighted:active {
    color: var(--secondary-text-color) !important;
}
.new .page-heading {
    color: var(--secondary-text-color) !important;
}
#header .students .student .name {
    color: var(--secondary-text-color) !important;
}
div#content .ft_row, div#content .detail-object-name {
    color: var(--primary-text-color) !important;
}
/*377FEA*/
.all-read {
    color: var(--secondary-text-color) !important;
}
a.input-simulation.secondary {
    color: var(--secondary-text-color) !important;
}
/*Replaced color #34495e*/
div#content h2 {
    color: var(--secondary-text-color) !important;
}
/*###################################
Hover*/
.read-icon:hover {
    background-color: var(--primary-highlight-color) !important;
}
.new .grid-container .href-item .item:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.new .grid-container .item.hasDetail:hover,
.new .grid-container .item.clickable:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.new .grid-link:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.new .grid-links a:hover,
.new .grid-links div:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.new .widget .box .grid .item-container .item:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.link-select-container .items .item:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.item:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.link-section:hover {
    border-radius: 6px !important;
    background-color: var(--primary-highlight-color) !important;
}
.all-read:hover {
    color: var(--primary-text-color) !important;;
    background-color: var(--tertiary-bg-color) !important;
}
.unstar.unstar_icon:hover {
    background-color: var(--primary-highlight-color) !important;
}
.edookit-link:hover {
    color: var(--secondary-text-color) !important;
}
#footer a:hover {
    color: var(--secondary-text-color) !important;
}
a.input-simulation.secondary:hover {
    color: var(--primary-text-color) !important;
    background-color: var(--primary-highlight-color) !important;
}
/*Year switcher*/
#menu-scroll-container .year-switcher-container #term-selector > div a:hover{
    background-color: var(--primary-bg-color) !important;
    color: var(--secondary-text-color) !important;
}
/*Message interactions*/
.new .grid-container.inbox .item .right-icons-container .icon-link:hover, .new .grid-container.inbox .labels-container .right-icons-container .icon-link:hover {
    background-color: var(--tertiary-bg-color) !important;
}
.new a.simply-highlighted:hover, .new .link-simulation.simply-highlighted:hover {
  color: var(--primary-text-color) !important;
  text-decoration: underline !important;
}
/*Right Side Menu*/
#menu-scroll-container .main-menu-container ul li:hover {
    margin-left: 10px;
    transform: scale(1.1);
    transition: 0.2s;
}
/*.new-message:hover {
    background-color:  !important;
}*/
/*###################################
Achievements*/
.new .achievement-container .achievement:hover {
    background-color: #1a1a1a !important;
}
/*###################################
Time Table - Other (Main page)*/
.period-time {
    background-color: var(--secondary-bg-color) !important;
}
.hoverLesson {
    /*border-width: 3px !important;*/
    border-color: #aaaaaa !important;
	background-color: #424242 !important;
}
/*###################################
Time table - CLasses*/
.defaultLesson.clickable-lesson {
    background-color: var(--time-table-classes-bg-color) !important;
    color: var(--primary-text-color) !important;
}
/*###################################
Background (replaced color: #E4EDF7)*/
a.input-simulation.secondary {
    background-color: var(--tertiary-bg-color) !important;
}
/*###################################
Background (replaced color: f8fafa)*/
body {
    background-color: var(--primary-bg-color) !important;
}
.new {
    background-color: var(--primary-bg-color) !important;
}
.new .evaluation-trends-container .grid-container.evaluation-trends .c1 .chart-container .bubble {
    background-color: var(--primary-bg-color) !important;
}
.new .attendance-interaction .detail .form-part input[disabled], .new .attendance-interaction .detail .form-part textarea[disabled] {
    background-color: var(--primary-bg-color) !important;
}
.new .activity-widget-container .activity .list .day .activity-count {
    background-color: var(--primary-bg-color) !important;
}
.mfp-inner-content {
    background-color: var(--primary-bg-color) !important;
}
.all-read {
    background-color: var(--secondary-bg-color) !important;
}
/*###################################
Background (replaced color: ffffff)*/
.link-select-container .selected {
	background-color: var(--secondary-bg-color) !important;
}
.link-select-container .items {
    background-color: var(--secondary-bg-color) !important;
}
.new .modal-window-container .modal-window {
    background-color: var(--secondary-bg-color) !important;
}
.new .timetable-widget-container {
    background-color: var(--secondary-bg-color) !important;
}
.new .content-block {
    background-color: var(--secondary-bg-color) !important;
}
.new .plus4u-page .plus4u-faq-container {
    background-color: var(--secondary-bg-color) !important;
}
.new .uploaded-files-preview .preview {
    background-color: var(--secondary-bg-color) !important;
}
.new form.standalone {
    background-color: var(--secondary-bg-color) !important;
}
.new .checkbox-container .checkbox.unchecked {
    background-color: var(--secondary-bg-color) !important;
}
.new .select-box .selected {
    background-color: var(--secondary-bg-color) !important;
}
.new .select-box .options {
    background-color: var(--secondary-bg-color) !important;
}
.new .grid-container .item {
    background-color: var(--secondary-bg-color) !important;
}
.new .student-project-detail-container .section.duration .edit-duration input[type="date"] {
    background-color: var(--secondary-bg-color) !important;
}
.new .attendance-interaction .detail .form-part .input.times .possible-time {
    background-color: var(--secondary-bg-color) !important;
}
.new .attendance-interaction .detail .form-part input,
.new .attendance-interaction .detail .form-part textarea {
    background-color: var(--secondary-bg-color) !important;
}
.new .posts-container .post {
    background-color: var(--secondary-bg-color) !important;
}
.new .evaluation-widget-container .trends-widget-container {
    background-color: var(--secondary-bg-color) !important;
}
.new .subcompetence-widget-container .subcompetencies {
    background-color: var(--secondary-bg-color) !important;
}
.new .scroll-box {
    background-color: var(--secondary-bg-color) !important;
}
.new .competence-subjects-container .competence-subject-container {
    background-color: var(--secondary-bg-color) !important;
}
.new .change-identity-pairing-form {
    background-color: var(--secondary-bg-color) !important;
}
.new .idm-link-container {
    background-color: var(--secondary-bg-color) !important;
}
.new .application-container .sent-container .additional-info,
.new .application-container .common-container .additional-info {
  background-color: var(--secondary-bg-color) !important;
}
@media (max-width: 1023px) {
    #header {
      background-color: var(--secondary-bg-color) !important;
    }
}
#header .profileMenu {
    background-color: var(--secondary-bg-color) !important;
}
@media (min-width: 1024px) {
    #header.scrolled {
      background-color: var(--secondary-bg-color) !important;
    }
}
#menu-scroll-container {
    background-color: var(--secondary-bg-color) !important;
  }
#menu-scroll-container .year-switcher-container #term-selector {
    background-color: var(--secondary-bg-color) !important;
}
#main-menu {
    background-color: var(--secondary-bg-color) !important;
}
.portfolio-container .searchBarContainer .searchBar input {
    background-color: var(--secondary-bg-color) !important;
}
#main-menu-background {
    background-color: var(--secondary-bg-color) !important;
}
.link-select-container .selected {
    background-color: var(--secondary-bg-color) !important;
}
.link-select-container .items {
    background-color: var(--secondary-bg-color) !important;
}
/*Inbox msg*/
.evaluation_detail_table, .evaluation_detail_table_evaluation, .homeworks_detail_table, .messages_detail_table, .events_detail_table, .exams_detail_table {
    background-color: var(--secondary-bg-color) !important;
}
/*###################################
Border (replaced color: #F3F3F3)*/
.new .posts-container .post {
    border-color: transparent !important;
}
.new .evaluation-widget-container .trends-widget-container {
    border-color: transparent !important;
}
.new .subcompetence-widget-container .subcompetencies {
    border-color: transparent !important;
}
.new .scroll-box {
    border-color: transparent !important;
}
/*(replaced color: #DDD)*/
/*Inbox msg*/
.evaluation_detail_table, .evaluation_detail_table_evaluation, .homeworks_detail_table, .messages_detail_table, .events_detail_table, .exams_detail_table {
    border-color: transparent !important;
}